main .sobre-mi{
    margin: 100px;
    padding: 50px;
    background-color: nth($clrs, 4 );
    h1{
        text-align: center;
        padding-bottom: 50px;
        color: nth($clrs , 1 );
    }
}
@media (max-width:750px){
    main .sobre-mi{
        margin: 50px 15px;
        padding: 25px;
    }
    .trabajos-realizados{
        flex-flow: column wrap;
    }
}
section{
    border: 1px solid black;
    padding: 25px;
    margin: 25px;
    background-color: nth($clrs , 5 );
    h2{
    text-align: center;
    padding-bottom: 30px;
    color: nth($clrs, 1 );
}
}
.trabajos-realizados{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.evento .img img{
    height: 700px;
    padding: 1rem;
}
.evento a {
    text-decoration: none;
   p{
    text-align: center;
    font-size: 25px;
    color: black;
    font-weight: bold;
    background-color: nth($clrs , 4 );
    margin: 0px 50px;
    border: solid 1px black;
    border-radius: 10px;
    &:hover{
        background-color: nth($clrs, 3 );
    }
    }
}
.contacto{
    padding: 100px;
    margin: 100px 200px;
    border-radius: 50px;
    background-color: nth($clrs, 5 );
    h3{
        text-align: center;
    }
}

@media (max-width:850px){
    .contacto{
        padding: 50px;
        margin: 75px 75px;
    }
    .evento p{
        font-size: 10px;
    }
}